apiVersion: v1
kind: Service
metadata:
  name: myapp-service
spec:
  type: NodePort
  selector:
    app: myapp
  ports:
    - protocol: TCP
      port: 80        # service port
      targetPort: 80  # container port (Nginx)
      nodePort: 30080
